.usersList {
    display: grid;
    justify-items: center;
    row-gap: 36px;
}

.usersList > button {
    max-width: 240px;
}

.textInfo {
    height: 50px;
}

table {
    background: #FFFFFF;
    display: grid;
    width: 100%;
    box-shadow: 4px 0px 10px rgba(93, 109, 151, 0.1);
    border-radius: 10px;
}
thead {
    border-bottom: 0.5px solid rgba(93, 110, 151, 0.4);
}
thead > tr > td {
    font-weight: normal;
    font-size: 14px;
}
tr  {
    display: grid;
    justify-items: center;
    grid-auto-flow: column; 
    padding: 16px 0;
    border-bottom: 0.5px solid rgba(93, 110, 151, 0.4);
}
tr:hover {
    background: rgba(93, 109, 151, 0.1);
}
tr:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: none;
}
thead > tr:hover {
    background: #FFFFFF;
}
td {
    min-width: 50px;
    text-align: center;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #5D6D97;
}
td > input {
    border: none;
    cursor: pointer;
    color: #5D6D97;
    background-color: transparent;
}
td > input:focus {
    outline: none;
}